.skill-card {
  position: relative;
  min-width: 259px;
  background: linear-gradient(0deg, rgba(81, 81, 81, 0.097), #4645452b);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  border-radius: 4px;
  text-align: center;
  transition: 0.5s;
  margin: 10px;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #161718;
  background: #2a3544;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.skill-card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.skill-card:hover .percent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.skill-card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.skill-card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: orange;
}

.skill-card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #00a1ff;
}

.skill-card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: yellow;
}

.skill-card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #5dd2f3;
}

.skill-card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: greenyellow;
}

@media (min-width: 320px) {
  .skill-card {
  }
}
@media (min-width: 481px) {
}
@media (min-width: 641px) {
}
@media (min-width: 961px) {
}
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
