.container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  flex: 4;
  cursor: pointer;
  color: lightgray;
}

.navbar-list {
  display: flex;
  flex: 5;
  list-style-type: none;
}

.navbar-list a {
  text-decoration: none;
  color: lightgrey;
  margin-right: 10px;
}

.navbar-list a:hover {
  text-decoration: none;
  color: #bb71f3;
}

.nav-item {
  margin-left: 10px;
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}

.contact-link {
  flex: 1;
  text-decoration: none;
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
}

/* About Section Starts */

.about-section {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 8;
  color: lightgray;
}

.left-top-text {
  margin: 10px 0;
  font-weight: bold;
}

.animated {
  position: relative;
}

.animated-text {
  margin: 20px 0;
}

.static-text {
  font-size: 38px;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
  position: relative;
}

.animated-item {
  color: #bb71f3;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about-text {
  width: 80%;
  margin: 20px 0;
  line-height: 1.2;
  font-size: 1.2rem;
}

.about-right {
  flex: 4;
}

.btn {
  padding: 13px 29px;
  font-size: 14px;
  outline: none;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  margin-right: 5px;
  border-radius: 50px;
  vertical-align: middle !important;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.btn-resume {
  background-color: #eee;
  color: #5b5b5b;
  position: relative;
}

.resume-icon {
  font-size: 0.8rem !important;
  color: whtie;
  position: absolute;
  margin-top: 2px;
  left: 8%;
}

.btn-fq {
  background-color: rebeccapurple;
  color: white;
}

.about-right-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.about-right-img:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

/* My Skill Section Starts */

.my-skill-title {
  text-align: center;
  padding: 30px 0;
}

.skill-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Project Section Starts */

.my-project-title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding-top: 50px;
}

.project-list {
  margin: 0 auto;
}

.project-img {
  height: 100%;
  width: 100%;
}

.swiper-slide {
}

.swiper-button-next {
  color: #bb71f3;
}

.swiper-button-prev {
  color: #bb71f3;
}

/* Education Section Starts */

.education-section-title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.education-img {
  height: 500px;
  width: 600px;
  margin-right: 5px;
  object-fit: cover;
}

/* Contact Section Starts */

/* Footer Section Starts */

.footer-list {
  height: 80px;
  width: 100%;
  background-color: #273648;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list-item {
  margin: 5px;
  cursor: pointer;
}

@media (min-width: 1201px) {
  .navbar-section {
  }

  .about-section {
    height: 60vh;
  }
}

@media (max-width: 1200px) {
  .navbar-section {
    background-color: orange;
  }

  .container {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .navbar-section {
    background-color: black;
  }

  .container {
    width: 90%;
  }

  .education-img {
    height: 400px;
    width: 300px;
  }

  .contact-form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .navbar-section {
    background-color: green;
  }

  .container {
    width: 90%;
  }

  .about-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-left {
    flex: 8;
    color: lightgray;
  }

  .about-text {
    width: 100%;
    margin: 20px 0;
  }

  .about-right {
    flex: 4;
  }

  .static-text {
    font-size: 2rem;
  }

  .animated-item {
    font-size: 2rem;
  }

  .animated-info {
    min-width: 250px;
  }

  .btn {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
  .resume-icon {
    display: none !important;
  }

  .my-project-title {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }

  .education-img {
    height: 300px;
    width: 200px;
  }

  .contact-form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .navbar-section {
    background-color: pink;
  }
}
