.container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  flex: 4;
  cursor: pointer;
  color: lightgray;
}

.navbar-list {
  display: flex;
  flex: 5;
  list-style-type: none;
}

.navbar-list a {
  text-decoration: none;
  color: lightgrey;
  margin-right: 10px;
}

.navbar-list a:hover {
  text-decoration: none;
  color: #bb71f3;
}

.nav-item {
  margin-left: 10px;
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}

.contact-link {
  flex: 1;
  text-decoration: none;
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
}

/* About Section Starts */

.about-section {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 8;
  color: lightgray;
}

.left-top-text {
  margin: 10px 0;
  font-weight: bold;
}

.animated {
  position: relative;
}

.animated-text {
  margin: 20px 0;
}

.static-text {
  font-size: 38px;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
  position: relative;
}

.animated-item {
  color: #bb71f3;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about-text {
  width: 80%;
  margin: 20px 0;
  line-height: 1.2;
  font-size: 1.2rem;
}

.about-right {
  flex: 4;
}

.btn {
  padding: 13px 29px;
  font-size: 14px;
  outline: none;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  margin-right: 5px;
  border-radius: 50px;
  vertical-align: middle !important;
  cursor: pointer;
}

.btn-resume {
  background-color: #eee;
  color: #5b5b5b;
  position: relative;
}

.resume-icon {
  font-size: 0.8rem !important;
  color: whtie;
  position: absolute;
  margin-top: 2px;
  left: 8%;
}

.btn-fq {
  background-color: rebeccapurple;
  color: white;
}

.about-right-img {
  height: 300px;
  width: 300px;
}

/* My Skill Section Starts */

.my-skill-section {
  height: 70vh;
  width: 100%;
}

.my-skill-section {
  text-align: center;
}

/* Project Section Starts */

.my-project-title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.project-list {
  margin: 0 auto;
}

.project-img {
  height: 100%;
  width: 100%;
}

.swiper-slide {
}

.swiper-button-next {
  color: #bb71f3;
}

.swiper-button-prev {
  color: #bb71f3;
}
