.contact-title {
  text-align: center;
  padding-top: 50px;
}
.contact-form {
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.form-input {
  font-family: inherit;
  outline: 0;
  border: 0;
  padding: 15px 20px;
  flex: 1;
  margin-bottom: 10px;
  border-radius: 30px;
  font-size: 1rem;
  background-color: #273648;
  color: white;
}

.form-input:nth-child(1) {
  margin-right: 5px;
}

textarea {
  width: 100%;
  font-family: inherit;
  padding: 20px;
  border: 0;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #273648;
  color: white;
}

.contact-submit-btn {
  padding: 15px 30px;
  margin: 10px;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 1rem;
  font-family: inherit;
  background-color: rgba(120, 71, 170, 0.59);
  color: white;
  cursor: pointer;
}

.status-msg {
  color: lightgray;
}
